/* =============
    Heroes
============= */

#heroes{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". heroes .";

    >div{
        grid-area: heroes;
}
}

/*----- photos -----*/

#photos{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". heroes .";

    >div{
        grid-area: heroes;
    }
}

#hero-2{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". heroes .";

    >div{
        grid-area: heroes;
    }
}


#hero-3{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". heroes .";

    >div{
        grid-area: heroes;
    }
}

#hero-4{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". heroes .";

    >div{
        grid-area: heroes;
    }
}





