/* =============
    Details
============= */

#details{
    aside{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". details .";
        background-color: #B05D5A;
        >div{
            grid-area: details;
            font-family: 'Poppins', 'Regular', 'Sans-serif';
        }
    }
}
