/* =============
    Details
============= */

#details{
        >div{
            ul{
                margin: 0;
                padding: 0;
                background-color: var(--lightflower);
                // font-family: 'Poppins', 'Regular', 'Sans-serif';
        
                #ticket{
                    grid-template-columns: 70 auto;
                    display: grid;
        
                    background-color: var(--flower); 
                    padding: 16px; 
                }

                #location{
                    background-color: var(--lightflower);
                    padding: 16px;
                }

            a:link,
            a:visited {

                color: (var(--ice));
                text-decoration: none;
                font-size: 25px;
                padding: 16px;
                background-color: (var(--iceblue));
                display: inline-block;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                background-color: (var(--stormblue));
                color: (var(--flower))
            }

                
            }   
            @include md {
                    display: grid;
                    grid-template-columns: 40% auto;
                }

                @include lg {
                    display: grid;
                    grid-template-columns: 40% auto;
                }

                @include xl {
                    display: grid;
                    grid-template-columns: 40% auto;    
                } 
        }
}