/* =============
    Details
============= */

#details{

    scroll-margin-top: 230px;
        >div{
            ul{
                display: grid;
                margin: 0;
                padding: 0;
                background-color: var(--lightflower);
                font-family: 'Poppins', 'regular', 'Sans-serif';
                
                #ticket{
                    grid-template-columns: 70 auto;
                    background-color: var(--flower); 
                    padding: 16px; 

                }

                #location{
                    background-color: var(--lightflower);
                    padding: 16px;
                }

                #detailbutton{
                    display: flex;
                    align-items: center;
                    margin-left: auto;
                    padding: 0;
                    border: none;
                }

                a:link, a:visited {

                    color: (var(--flower));
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: regular;
                    padding: 16px;
                    background-color: (var(--iceblue));
                    display: inline-block;
                    transition: 0.25s;
                    
                    &:hover,
                    &:active {
                        background-color: (var(--stormblue));
                        color: (var(--flower));
                        padding: 20px;
                    }
                }   
            }   
            @include md {
                    display: grid;
                    grid-template-columns: 40% auto;
                }

                @include lg {
                    display: grid;
                    grid-template-columns: 40% auto;
                }

                @include xl {
                    display: grid;
                    grid-template-columns: 40% auto;    
                } 
        }
}