/* =============
    Events
============= */

#events{
    .sub-event{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". events .";
        background-color: #D8DDE2;
        >div{
            grid-area: events;
            display: grid;
            grid-template-columns: 50% auto;
            font-family: 'Poppins', 'Regular', 'Sans-serif';
            button{
                background-color: #A14F4C;
                color: #2E3949; 
            }
            
            @include md{
                display: grid;
                grid-template-columns: repeat (2, 1fr);
                grid-template-columns: 50% 50%;
                grid-template-columns: 50% auto;

            }
        }

        
    }
}