/* =============
    Events
============= */

#events{
         display: grid;
         grid-template-columns: 3px auto 3px;
         grid-template-areas: ". events ."; 

         @include xxl{
            display: grid;
            grid-template-columns: auto 1200px auto;
        }


        >div{
            grid-area: events;
            gap: 16px;
            padding: 26px;
            font-family: 'Poppins', 'Regular', 'Sans-serif';

            ul{
                #plan{
                    display: grid;
                    padding: 16px;
                }

                #garden{
                    display: grid;
                    padding: 16px;
                    
                }

                li{
                    background-color: #D8DDE2;
                    button{
                        background-color: #A14F4C;
                        border: none;
                        padding: 16px 24px;
                    }
                } 
            }
            @include md {
                display: grid;
                grid-template-columns: 50% auto;
                gap: 16px;
                margin-bottom: 16px;
            }

            @include md{
                display: grid;
                grid-template-columns: repeat (2, 1fr);
                grid-template-areas: events;
                margin-bottom: 16px;
                margin-top: 26px;
            }
            
        }
}
