/* =============
    Events
============= */

#events{
         background-color: aquamarine;
         display: grid;
         grid-template-columns: 16px auto 16px;
         grid-template-areas: ". events ."; 

        >div{
            grid-area: events;

            margin: 0;
            padding: 0;
            font-family: 'Poppins', 'Regular', 'Sans-serif';

            ul{

                margin: 16px;

                button{
                    background-color: #A14F4C;
                }
                #plan{
                    grid-template-columns: 50 auto;
                    display: grid;
                    padding: 16px; 
                }

                #garden{
                    padding: 16px;
                    
                }
                li{
                    background-color: #D8DDE2;
                    
                }

                
            }
            @include md {
                display: grid;
                grid-template-columns: 50% auto;
                gap: 16px;
                margin-bottom: 16px;
            }

            @include md{
                display: grid;
                grid-template-columns: repeat (2, 1fr);
                grid-template-areas: image;
                margin-bottom: 16px;
                margin-top: 26px;
            }
            
        }
}
