/* =============
    Explore
============= */

#explore{
    display: grid;
    grid-template-columns: 16px;
    grid-template-areas: ". explore .";
    columns: 2;
    >div{
        grid-area: explore;
}
}