/* =============
    Explore
============= */

#explore{
    @include xxl{
            display: grid;
            grid-template-columns: auto 1440px auto;
            grid-template-areas: ". explore .";
        }

    >div{
        grid-area: explore;
       
        font-family: 'Poppins', 'Regular', 'Sans-serif';
        img{
            width: 100%;
        }
        button{
            background-color: #A14F4C;
            color: #2E3949;
            border: none;
            padding: 16px 24px;
        } 
    }
    
    ul{
        li{ 
            background-color: #D8DDE2;
            text-align: center;
        }

        @include md{
            display: grid;
            gap: 16px;
            grid-template-columns: repeat (4, 1fr);
            grid-template-areas: 
            "e1 e1 e2 e2"
            "e3 e3 e4 e4"
            ". e5 e5 .";
        }
        @include lg{
            display: grid;
            gap: 16px;
            grid-template-columns: repeat (6, 1fr);
            grid-template-areas: 
            "e1 e1 e2 e2 e3 e3"
            ". e4 e4 e5 e5 .";
        }   

        #e1{
            @include md{
                grid-area: e1;
            }
        }
        #e2{
            @include md{
                grid-area: e2;
            }
        }
        #e3{
            @include md{
                grid-area: e3;
            }
        }
        #e4{
            @include md{
                grid-area: e4;
            }
        }
        #e5{
            @include md{
                grid-area: e5;
            }
        }
    }
}