/* =============
    Explore
============= */

#explore{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". explore .";

    >div{
        grid-area: explore;
}
}