/* =============
    Footer
============= */

footer{
    background-color: #2E3949;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    >div{
        grid-area: footer;
        font-family: 'Poppins', 'Regular', 'Sans-serif';
        color: #A14F4C;
        button{
            background-color:#A14F4C;
            color: #2E3949;
        }
        
        #address{
            grid-template-columns: 70% auto;
            padding: 16px;
            grid-area: address;
        }
        #subscribe{
            grid-template-columns: 70% auto;
            padding: 16px;
            grid-area: subscribe;

        }
        #social{
            grid-template-columns: 70% auto;
            padding: 16px;
            grid-area: social;
        }


        @include md{
            display: grid;
            grid-template-columns: repeat (2, 1fr);
            grid-template-areas:
            "address subscribe"
            " . social";
        }
        @include lg{
                display: grid;
                grid-template-columns: repeat (3, 1fr);
                grid-template-areas:
                "address subscribe social";

        }
    }  
}
