/* =============
    Header
============= */

header{

    #logo{
        background-color: var(--iceblue);

        >div{
            color: var(--flower);
            // font-family: 'Poppins', 'Regular', 'Sans-serif';

            ul{
                display: flex;
                margin: 0;
                padding: 26px;
                display: flex;
                gap: 24px;
                
                #l1{
                    background-color: var(--iceblue);
                }
                #l2{
                    background-color: var(--iceblue);
                }
                #l3{
                    margin-left: auto;
                }

            }
                
            button{
                // grid-area: logo;
                // grid-template-columns: 90px auto;
                border: none;
                color: var(--flower);
                background-color: var(--iceblue);


            } 
        }
    }


    #search{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";

        >div{
            grid-area: search;

            form{
                input{
                // font-family: 'Poppins', 'Regular', 'Sans-serif';
                color: (var(--stormblue));
                font-size:x-large;
                width: 75%;
                border: none;
                border: 1px solid (var(--stormblue));
                padding: 16px 24px;
                }

                button{
                    background-color: (var(--flower));
                    border: none;
                    padding: 16px 24px;
                }
            }  
        } 
    }
}