/* =============
    Header
============= */

header{

    #logo{
        background-color: var(--iceblue);

        >div{
            color: var(--flower);
            // font-family: 'Poppins', 'Regular', 'Sans-serif';

            ul{
                display: flex;
                margin: 0;
                padding: 26px;
                display: flex;
                gap: 24px;
                
                #l1{
                    background-color: var(--iceblue);
                }
                #l2{
                    background-color: var(--iceblue);
                }
                #l3{
                    margin-left: auto;
                }

            }
                
            button{
                // grid-area: logo;
                // grid-template-columns: 90px auto;
                border: none;
                color: var(--flower);
                background-color: var(--iceblue);


            } 
        }
    }


    #search{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";

        @include xxl{
            Display: grid;
            grid-template-columns: auto 1440px auto;
        }         

        >div{
            grid-area: search;
            margin-top: 24px;
            margin-bottom: 24px;
            align-content: center;

            form{
                input{
                // font-family: 'Poppins', 'Regular', 'Sans-serif';
                color: (var(--stormblue));
                font-size:x-large;
                width: 70%;
                border: none;
                border-bottom: 1px solid (var(--stormblue));
                padding: 16px 24px;
                }

                button{
                    background-color: (var(--flower));
                    border: none;
                    border-radius: 5%;
                    padding: 16px 24px;
                    
                }
            }  
        } 
    }
}