/* =============
    Header
============= */

header{
    #logo{
        background-color: #2E3949;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo .";
        >div{
            grid-area: logo;
            display: grid;
            grid-template-columns: 80px auto;
            color: #A14F4C;
            font-family: 'Poppins', 'Regular', 'Sans-serif';
        }
    }
    #search{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        >div{
            grid-area: search;
            form{
                input{
                font-family: 'Poppins', 'Regular', 'Sans-serif';
                width: 80%;
                }
                button{
                    background-color: #A14F4C;
                    border: none;
                }
            }  
        } 
    }
}