

    #search{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        align-content: center;
        margin-bottom: 24px;
        
        margin-top: 200px;

        @include md{
        margin-top: 220px;
        }

        @include lg{
            margin-top: 300px;
            }
    
        @include xxl{
            Display: grid;
            grid-template-columns: auto 1440px auto;

            }
        }         
    
        div{
            grid-area: search;
            align-content: center;
    
    
            a:link, a:visited {
                text-decoration: none;
                background-color: transparent;
                color: (var(--ice));
                padding: 16px;
                display: inline-block;
                transition: 0.25s;
                text-align: right;
                border-radius: 10%;
                
                &:hover,
                &:active {
                    color: (var(--ice));
                    background-color:(var(--lightflower));
                    padding: 22px;
                }
            }
    
            form{
                input{
                font-family: 'Poppins', 'Regular', 'Sans-serif';
                color: (var(--stormblue));
                font-size:x-large;
                width: 70%;
                border: none;
                border-bottom: 1px solid (var(--stormblue));
                padding: 16px 24px;
                }
    
                button{
                    background-color: (var(--flower));
                    border: none;
                    border-radius: 5%;
                    padding: 16px 24px;
                    
                }
            }  
        } 
   