/* =============
    Navigation
============= */

html{
    scroll-behavior: smooth;
}
.show-menu{
    display: block !important;
}

nav{
    display: none;

    @include lg{
        display: block;
    }

    ul{
        position: center;
        @include lg{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }


        li{
            text-align: right;

            @include lg{
                margin-left: 16px;
            }
            a:link, a:visited{
                display: inline-block;
                color: var(--flower);
                font-family: 'Poppins', 'Regular', 'Sans-serif';
                padding: 24px 26px;
                
                @include lg{
                    padding: 24px 26px;
                    transition: 0.25s;
                    border-radius: 6px;
                    padding: 24px 36px;
                    border: 1px solid var(--iceblue);
                }

                &:hover, &:active{
                    @include lg{
                        background-color: var(--ice);
                        color: var(--flower)  
                    }
                    
                }
            }
        }
    }
}